@charset "utf-8";
/* CSS Document */

body{
	
	background-color:#300;
	color:white;	
	
	}
.jumbotrom{
background-color:#999;
color:white;
	
	
	}
	
.container{
	
	background-color:#963;
	color:white;
		
	
	}
	
.btn{
	background-color:#666;
	color:black;
	
	}
	
.footer{
	
	padding: 10px 10px 0px 10px;	
	
	}

