$yellow:#fffa19;

@mixin margenes($top,$bottom){
	margin-top:$top;
	margin-botton:$bottom;


}

.jumbotrom{
background-color:#999;
color:white;
@include margenes(50px,0px);
	
	
	}
	footer{
	padding:10px 10px 0 10px;
	background-color:#fffa19;
	marrgi-bottom:0px;
	margin-top:10px;

	}

	.card-hotel{

	flex:1 200px;
	margin-top:10px;
	@include margenes(50px,0px);
	}

	.btn-reserva{

	width:100%;
	border-right:10px;

	}

	.footer-addres-icon{

	padding-right:10px;

	}

	.tab-content{
	padding-top:10px;

	}