@charset "utf-8";
/* CSS Document */


.jumbotrom{
background-color:#FF3;
color:white;
width:100%;
margin-top:50px;

	
	
	}
	
.container{
	
	
	float:left;
	
		
	
	}
	
.btn{
	background-color:#666;
	color:black;
	width:25%;
	align-items: center;
	
	}
	
.footer{
	
	padding: 10px 10px 0px 10px;
	background-color:#FF3;
	float:left;
	width:100%;
	margin-top:10px;
	margin-bottom:0px;
		
	
	}
	
.card-bebida{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;	
	
	
	}

.btn-reserva{
	
	width:50%;
	border-radius: 0px;
	align-items: center;
	
	
	
	
	}
	
.footer-addres-icon{
	
	padding-right:10px;
	
	
	}
	
body{

background-color:#930;
	
	
	}
	
.row{

	
	}
	.breadcrumb{


		margin-top: 30px;
	}

	.breadcrumb-item{

		margin-top: 5px;
		
		
	}

.table-responsive{

background-color: darkred;
color:white;

}

.img-fluid{

	width: 100%;
	height: 130px;

}

.container{



background-color:#FFF;

}

	






}

.tab-content{

	padding-top: 10px;


}

	



	
	

	
